@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
html {
    font-size: 15px;
}
:root {
    --very_bold: 700;
    --bold: 500;
    --normal: 300;
    --slim: 300;
    --main_black: rgba(0,0,0,.8)
}
ul {
    list-style: circle;
}
.mainCont {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
.heading, .lhs, .rhs {
        padding: 1.5rem 1rem;
}
.heading {
    background-color:var(--main_black);
    color: white;
    overflow: hidden;

}
.heading h1 {
    font-weight: var(--very_bold);
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1rem;
    animation: enterLeft 2s ease-in ;
    /* padding: 1rem 0; */
}
.heading h3 {
    font-weight: var(--normal);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: var(--normal);
}
.contentCont{
    padding-top: 0;
}
.lhs, .rhs {
    float: left;
    white-space: wrap;
 }
.lhs {
    width: 70%;
}
.rhs {
    width: 30%;
    padding: 1rem;
    background-color: #efefef;
    margin-bottom: 2rem;
}
.link a{
    font-size: .9rem;
}
.about {
    margin-bottom: 1.5rem;
}
.workHead {
    padding: .5rem  0;
    border-bottom: 1px solid #afafaf;
}
.history {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
}
.history .jobTitle {
    font-weight: var(--bold);
    margin-bottom: 0.5rem;
}
.history .jobLocation {
    font-style: italic;
    margin-bottom: .5rem;
}
.history .jobCont {
    margin-left: 2rem;
}
.education {
    display: flex;
    margin: 1rem 0;
}
.workHistoryCont ul{
    margin: 1rem 0;
}
.eduCont {
    margin-left: 4rem;
}

.date small {
    font-weight: var(--bold);
}
.pair {
    margin: 1rem 0;
}
.rhs h3, .rhs p, .rhs address {
    margin: 1rem 0;
}
.proficiency {
    float: right;
    text-align: right;
    margin: 1rem 0;
}
.skill {
    clear: right;
    font-weight: var(--normal);
    font-size: 1rem;
}
.box1 {
    width: 200px;
    height: 1rem;
    background-color: #fff;
}
.box2 {
    background-color: var(--main_black);
    height: 100%;
}
.ex {
    width: 100%;
}
.vg {
    width: 75%;
}
.g {
    width: 50%;
}
@media screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }
}
@media screen and (max-width: 450px) {
    .rhs, .lhs {
        width: 100%;
    }
    header {
        background-color:var(--main_black);
    }
    .heading{
        background-color: transparent;
    }
}
.logos img {
    display: inline-block;
    padding: 1rem;
    width: 200px;
}
#hng, #zuri {
    width: 100px;
}